<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Exercise Tracker</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Exercise Tracker
      </h1>
    </header>

    <main>

      <section>
        <h2>Create a new user</h2>
        <code>POST /api/exercise/new-user</code>
        <form action="/api/exercise/new-user" method="POST">
          <input placeholder="username" name="username" required/>
          <button type="submit">Submit</button>
        </form>    
      </section>
    
      <section>
        <h2>Add Exercises</h2>
        <code>POST /api/exercise/add</code>
        <form action="" method="post">
          <input type="text" placeholder="userId*" required />
          <input type="text" placeholder="description"  required />
          <input type="text" placeholder="duration* (mins)" required />
          <input type="date" name="" id="" placeholder="date" />
          <button type="submit">Submit</button>
        </form>
      </section>

      <section>
        <h2>GET user's exercise log: <code>GET /api/exercise/log?{userId}[&from][&to][&limit]</code></h2>
        <p><span>{ }</span> = required, <span>[ ]</span> = optional</p>
        <p><span>from, to </span>= dates (yyyy-mm-dd); <span>limit</span> = number</p>
      </section>

    </main>
  </body>
</html>
